<div class="container" style="margin-top: 20px;">
  <!-- Cabecera -->
  <div class="row">
    <div class="col border border-primary border-2 text-center" style="padding: 7px;">
      <app-cabecera></app-cabecera>
      <!-- Botones -->
      <nav>
        <button type="button" class="btn btn-primary botones" routerLink="/preguntas">Preguntas</button>
        <button type="button" class="btn btn-success botones" routerLink="/asignaturas">Asignaturas</button>
      </nav>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>